body {
    background: rgb(red, green, blue);
}

.box {
    background-color:white;
    padding: 10px 10px;
    box-sizing: border-box;
}

.navigation .navbar-brand {
    color: white;
    margin-left: 35px;
    padding: inherit;
    font-weight: bold;
    background-color: lightseagreen;
    
}



.navbar-nav {
   font-size: 20px;
  
   
}
.p {
   color: lightseagreen;
  
}

.text {
    color: lightseagreen;
    text-align: center;
}

.btn {
    background-color: rgb(red, green, blue);
}

.container {
    background-color:white;
    margin-top: 15px;
    opacity: 1;
    margin-bottom: 50px;
    
}


.p1 {
    text-align: center;
}

.title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
    
} 

.table {
    width: auto;
    border-width: 1px;
}





